.layout__block{
	display: flex;
	justify-content: space-between;
}

.layout__left {
	width: 30%;
	border-right: 1px solid #C4C4C4;
}

.layout__right {
	width: 35%;
	border-left: 1px solid #C4C4C4;
}

.layout__center {
	width: 100%;
}